@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;700&display=swap');

body{
  overflow: hidden !important;
}
.logo{
  padding-left: 2rem !important;
}
.navbar{
  min-width: 100vw !important;
  max-width: 100vw !important;
  overflow: hidden !important;
}
.navbar-menu{
  padding-right: 2rem;
}
.navbar-item {
  font-size: 1.2rem !important;
}
.navbar-item:hover {
  background-color: white !important;
  color: black !important;
}
/* HERO */

.hero{ 
  background-color: #031117;
}
.is-white{
  color:rgb(202, 202, 202);
  font-weight: 700;
}

/*SEGUNDO HERO*/
.titulo{
  margin-bottom: 1.8rem !important;
}
.animated{
  animation: fadeIn;
  animation-duration: 4.3s;
}
/*CARDS WHY US*/
.card{
  min-height: 70vh !important;
  max-height: 70vh !important;
}
.card-icon{
  height: 100px;
}

#card-product-description {
  color: #26a9e0;
}

.card:hover {
  transform: scale(1.02);
  border-top: 5px solid #29bb89;
}

.is-white-text-title {
  color: white !important;
  text-transform: uppercase;
}

/* ABOUT US */
.aboutus-bg{
  background-image: url(../vector/vector1-freep/ilus-aboutus.svg);
  background-position: bottom right;
  background-repeat:  no-repeat;
  background-attachment: local;
  background-size: 50vw;
  background-color: white;
  overflow: visible;
}
.underlined{
  text-decoration: underline;
  text-decoration-color: #84fab0; 
  text-decoration-thickness: 4px;
}

.about-us__title{
  border: 10px inset #26a9e0;
}

@media (max-width:800px){
  .aboutus-bg{
    background-image: none;
  }
}

/* COLORES SERVICIOS */
.text-link{
  color: #4a4a4a !important;
}
.services-container{
  min-height: 40vh !important;
  max-height: 50vh !important;
  margin: 2rem 1rem;
  max-width: 80vw !important;
}
.services-col{
  min-height: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.services-text{
  min-height: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 1.2rem;
  color: #031117 !important;
}
.text-color-black{
  color: #031117 !important;
}
.services-img{
  min-height: 100% !important;
  max-height: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  object-fit: cover;
}
@media (max-width:480px) {
  .services-col{
    display:none !important;
  }
}
.azul{
  background-color: #26A9E0;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.celeste{
  background-color: #9BD1E8;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.verdecito{
  background-color: rgb(105, 207, 171);
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.verde{
  background-color: #29bc89;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.naranja{
  background-color: #F5AF74;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.rojo{
  background-color: #FF4848;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

#contact-section {
  height: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  overflow: hidden;
}

input.is-custom-field {
  border-bottom: 0.8px solid #252525 !important;
  outline: none;
  border: none;
  box-shadow: none !important;
  border-radius: unset;
}

textarea {
  border-bottom: 0.8px solid #252525 !important;
  outline: none !important;
  border: none;
  box-shadow: none !important;
  border-radius: unset;
  border-color: none !important;
  outline-color: none !important;
}

.footer-main {
  background-color: white !important;
  padding: 0 !important;
}

.footer-secondary {
  padding: 20px;
  margin-top: 20px;
}

.button.is-black {
  background-color: black !important;
  color: white !important;
}

.button.is-orange {
  background-color: #fc5d35 !important;
  color: white !important;
}
  
.services-heading{
  margin-bottom: 5rem;
}

.button.is-orange:hover {
  background-color: white !important;
  color: #fc5d35 !important;
}
.button.is-black:hover {
  background-color: white !important;
  color: black !important;
}

.is-black-social {
  color: black !important;
}
.is-black-social:hover {
  background-color: white !important;
  color: #fc5d35 !important;
}
label{
  text-align: left;
}
#contact-section{
  background-image: url(../vector/vector2-freep/5889672.svg );
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
/*   overflow: visible;
 */  background-color: white;
  max-width: 100vw !important;
}
.input .textarea{
  background-color: hsla(216, 100, 100, 0.1) !important;
}


